						 <h1>{{title}}</h1>
							<div class="catalog">
								<div class="item" *ngFor="let album of albums">
									<img src="_images/index/backgrounds/couples-bg.jpg" alt="">
									<p class="item-title">{{album.title}}</p>
								</div><!-- end item -->
							</div>
							<div class="portafolio-related">
								  <ul class="bxslider-related">
										<li class="related-item">
											<img src="_images/index/backgrounds/auto-bg.jpg" alt="">
											<p>Otro portafolio</p>
										</li>
										<li class="related-item">
											<img src="_images/index/backgrounds/auto-bg.jpg" alt="">
											<p>Otro portafolio</p>
										</li>
										<li class="related-item">
											<img src="_images/index/backgrounds/auto-bg.jpg" alt="">
											<p>Otro portafolio</p>
										</li>
										<li class="related-item">
											<img src="_images/index/backgrounds/auto-bg.jpg" alt="">
											<p>Otro portafolio</p>
										</li>
									</ul>
							</div>
