<main id="about">
 <div class="col-50" id="description">
 <h1>ACERCA DE MÍ</h1>
   <img src="_images/about/logo-black.png" alt="">
   <span class="vertical-line"></span>
   <p>Quisque tincidunt lectus ipsum, vel imperdiet eros porta nec. Nullam a lacinia massa, in dapibus nisl. Aenean mollis augue sed lorem faucibus, eu finibus felis scelerisque. Mauris porttitor eros eu nibh pellentesque, eu dapibus massa finibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
<br><br>
In dictum nec tellus a suscipit. Mauris in condimentum est. Mauris eu est felis.</p>
   <a href="">CONTACTO</a>
 </div><div class="col-50" id="about-bg"></div>
</main>
