<app-carousel></app-carousel>
      <div id="principal-container">
        <div class="w-40">
            <a href="portafolio.php">
                <div class="sesion-port" id="retrato" style="background-image:url(https://c1.staticflickr.com/1/917/28243514747_a7b8a5d7c7_c.jpg);">
                    <h2>Retrato</h2>
                      <div class="hover">
                        <span>VER MÁS</span>
                      </div>
                  </div>
              </a>
          </div>
          <div class="w-40">
            <a href="portafolio.php">
                <div class="sesion-port half" id="parejas" style="background-image:url(https://c2.staticflickr.com/2/1971/30389838957_6c5bb2338d_b.jpg);">
                    <h2>Parejas</h2>
                      <div class="hover">
                        <span>VER MÁS</span>
                      </div>
                  </div>
              </a>

              <a href="portafolio.php">
                <div class="sesion-port half"id="casual" style="background-color:rgba(30,30,30,.80);">
                    <h2>Casual</h2>
                      <div class="hover">
                        <span>VER MÁS</span>
                      </div>
                  </div>
              </a>

          </div>
          <div class="w-20">
            <a href="portafolio.php">
                <div class="sesion-port half" id="automotriz" style="background-image:url(https://c1.staticflickr.com/1/789/39679887980_be988f33d5_c.jpg);">
                    <h2>Automotriz</h2>
                    <div class="hover">
                        <span>VER MÁS</span>
                      </div>
                  </div>
              </a>

              <div id="social-networks" style="background-color:rgba(30,30,30,.80);" >
                <div>
                      <a href="https://www.facebook.com/georgedemianphoto/" target="_blank"><img src="_images/index/elementos/fb.svg" alt="Facebook"></a>
                      <a href="https://www.instagram.com/george.demian/" target="_blank"><img src="_images/index/elementos/ig.svg" alt="Instagram"></a>
                      <a href="https://vsco.co/georgedemian/" target="_blank"><img src="_images/index/elementos/vsco.svg" alt="VSCO"></a>
                  </div>
              </div>
          </div>
      </div>
